{% extends 'core/layout.html' %}

{% block title %}
Select Your Resume Template
{% endblock %}

{% block content %}
<div class="mx-auto bg-white shadow-lg rounded-lg p-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Step 2: Select Your Resume Template</h1>

    <p class="text-center mb-4">Choose a template for your resume preview.</p>

    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-6">
        {% for template in templates %}
        <div class="border p-4 rounded-lg text-center">
            <h2 class="text-xl font-bold mb-2">{{ template.name }}</h2>
                    <div class="preview">
                        {% include template.path with resume=resume %}
                    </div>
                    
                    <!-- Option to select template -->
                    <a href="{% url 'resumebuilder:preview_template' template_name=template.name %}"
                        class="bg-blue-700 text-white py-2 px-4 rounded-lg hover:bg-blue-600 mt-4">Preview</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}