{% extends 'core/layout.html' %}

{% block content %}

<body class="bg-gradient-to-r from-blue-50 to-blue-100 flex items-center justify-center min-h-screen font-sans">
    <div class="bg-white shadow-lg rounded-lg px-10 py-8 w-full max-w-lg border border-gray-200">
        <h1 class="text-2xl font-semibold text-gray-700 text-center mb-6">Upload Your Resume</h1>
        <p class="text-gray-500 text-center mb-4">Make sure your file is in PDF format for a seamless experience.</p>
        <form method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div class="flex items-center space-x-4">
                <label for="id_file" class="text-gray-600 font-medium">File:</label>
                {{form.file}}
            </div>
            <button type="submit"
                class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg transition ease-in-out duration-200">
                Upload
            </button>
        </form>
    </div>
</body>
{% endblock %}