{% extends 'core/layout.html' %}
{% block content %}
{% load static %}
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <!-- Hero Section -->
        <div class="text-center mb-12">
            <h1 class="text-5xl font-bold text-gray-800 mb-2">The Ultimate Learning Platform</h1>
            <h2 class="text-4xl font-bold text-indigo-600 mb-4">Courses For Everyone</h2>
        </div>

        <!-- Course Grid -->
        <div class="grid grid-cols-1 gap-5 md:grid md:grid-cols-3 md:gap-7">
            <!-- Coding Courses -->
            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <div>
                    <img src="{% static '/images/JavaScript.jpg' %}" alt="JavaScript Course"
                        class="w-full md:h-[15rem]  object-cover rounded-t-lg">
                </div>
      

    

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/Photoshop.jpg' %}" alt="Photoshop"
                    class="w-full md:h-[15rem] object-cover rounded-t-lg">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Adobe Photoshop for Beginners: Generative AI Images
                    </h3>
                    <p class="text-gray-600 mb-4">
                        From basic photo editing to advanced compositing, become a Photoshop expert.
                    </p>
                    <a href="https://www.coursera.org/projects/generative-ai-images-with-adobe-photoshop--ai-image-editing"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Edit Photos
                    </a>
                </div>
            </div>

            <!-- Business & Communication -->
            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/Speak.jpg' %}" alt="Public Speaking"
                    class="w-full md:h-[15rem] object-cover rounded-t-lg">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Public Speaking Mastery</h3>
                    <p class="text-gray-600 mb-4">
                        Overcome stage fright and deliver powerful presentations with confidence.
                    </p>
                    <a href="https://www.udemy.com/course/fearless-public-speaker-bootcamp-by-ricky-mendoza/"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Speak Confidently
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/Business.jpg' %}" alt="Business Communication"
                    class="w-full md:h-[15rem] object-cover rounded-t-lg">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Business Analysis & Process Management</h3>
                    <p class="text-gray-600 mb-4">
                        Master professional communication for emails, meetings, and negotiations.Analyze business
                        processes and find solutions to existing business problems
                    </p>
                    <a href="https://www.coursera.org/projects/business-analysis-process-management"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Analyze business
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/leader.jpg' %}" alt="Leadership"
                    class="w-full md:h-[15rem] object-cover rounded-t-lg">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Leadership Skills</h3>
                    <p class="text-gray-600 mb-4">
                        Develop essential leadership qualities to inspire and manage teams effectively.
                    </p>
                    <a href="https://www.coursera.org/learn/leadershipskills"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Lead Teams
                    </a>
                </div>
            </div>

            <!-- Data Science -->
            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/ds.jpg' %}" alt="Data Science"
                    class="w-full md:h-[15rem] object-cover rounded-t-lg">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Data Science Fundamentals</h3>
                    <p class="text-gray-600 mb-4">
                        Introduction to Python, statistics, and machine learning for data analysis.
                    </p>
                    <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Analyze Data
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/ml.jpg' %}" alt="Machine Learning"
                    class="w-full md:h-[15rem] object-cover rounded-t-lg">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Machine Learning Basics</h3>
                    <p class="text-gray-600 mb-4">
                        Learn algorithms, neural networks, and how to implement them in Python.
                    </p>
                    <a href="https://www.coursera.org/learn/machine-learning-basics"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Train Models
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/excel.jpg' %}" alt="Excel"
                    class="w-full md:h-[15rem] object-cover rounded-t-l">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Microsoft Excel: Starter Guide</h3>
                    <p class="text-gray-600 mb-4">
                        A complete guide for using Microsoft Excel starting with the most basic steps.
                    </p>
                    <a href="https://www.udemy.com/course/microsoft-excel-starter-guide/"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        learn Excel
                    </a>
                </div>
            </div>

            <!-- Mobile Development -->
            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/app.jpg' %}" alt="Android Development"
                    class="w-full md:h-[15rem] object-cover rounded-t-l">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Android App Development</h3>
                    <p class="text-gray-600 mb-4">
                        Develop mobile apps using Android and publish them on Google Play Store.
                    </p>
                    <a href="https://www.udemy.com/course/mobile-application-development-using-android/"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Build Apps
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/iOS.jpg' %}" alt="IOS Development"
                    class="w-full md:h-[15rem] object-cover rounded-t-l">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">iOS Development with Swift</h3>
                    <p class="text-gray-600 mb-4">
                        Create iOS apps using Swift and Xcode for iPhone and iPad devices.
                    </p>
                    <a href="https://www.udemy.com/course/how-to-make-an-app-for-beginners-iosswift-2019/"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Develop for iOS
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/Flutter.jpg' %}" alt="Flutter"
                    class="w-full md:h-[15rem] object-cover rounded-t-l">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Flutter and Dart: Developing iOS, Android, and
                        Mobile Apps</h3>
                    <p class="text-gray-600 mb-4">
                        Build beautiful native apps for iOS and Android with a single codebase.
                    </p>
                    <a href="https://www.coursera.org/learn/flutter-and-dart-developing-ios-android-mobile-apps"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Go Cross-Platform
                    </a>
                </div>
            </div>

            <!-- Digital Marketing -->
            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/soe.jpg' %}" alt="SEO"
                    class="w-full md:h-[15rem] object-cover rounded-t-l">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">SEO Mastery</h3>
                    <p class="text-gray-600 mb-4">
                        Learn search engine optimization techniques to rank websites higher on Google.
                    </p>
                    <a href="https://www.coursera.org/specializations/seo"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Optimize Websites
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/socialmediajpg.jpg' %}" alt="Social Media"
                    class="w-full md:h-[15rem] object-cover rounded-t-l">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Social Media Marketing</h3>
                    <p class="text-gray-600 mb-4">
                        Grow brands and businesses using Facebook, Instagram, Twitter and LinkedIn.
                    </p>
                    <a href="https://www.coursera.org/professional-certificates/facebook-social-media-marketing"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Market on Social
                    </a>
                </div>
            </div>

            <div class="bg-white shadow-md rounded-lg hover:scale-105 transtion-transform duration-300 ease-in-out ">
                <img src="{% static '/images/write.jpg' %}" alt="Content Writing"
                    class="w-full md:h-[15rem] object-cover rounded-t-l">

                <div class="p-6">
                    <h3 class="text-xl font-bold text-gray-800 mb-2">Content Writing Pro</h3>
                    <p class="text-gray-600 mb-4">
                        Master blog writing, copywriting and content creation for digital platforms.
                    </p>
                    <a href="https://www.coursera.org/specializations/good-with-words"
                        class="block bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded text-center w-fit">
                        Write Better
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}